<form class="search-form" [formGroup]="searchForm">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Enter Keyword to search </mat-label>
    <input matInput formControlName="title" (input)="searchTask()">
  </mat-form-field>
</form>

<div class="container">
  <h2>My Tasks</h2>
  <div class="tasks-list">
    <mat-card
      *ngFor="let task of tasks"
      (click)="viewTask(task.id)"
      class="task-card"
    >
      <mat-card-header>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle>{{ task.dueDate | date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ task.description }}</p>
        <p><strong>Project:</strong> {{ task.projectName }}</p>
        <p>
          <strong>Status:</strong>
          <span class="status" [ngStyle]="{ color: getStatusColor(task.taskStatus), fontWeight: 'bold' }">{{ task.taskStatus }}</span>
        </p>
        <p>
          <strong>Priority:</strong>
          <span class="priority" [ngStyle]="{ color: getPriorityColor(task.priority), fontWeight: 'bold' }">{{ task.priority }}</span>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
