
<form class="search-form" [formGroup]="searchForm">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Enter Keyword to search </mat-label>
    <input matInput formControlName="title" (input)="searchProject()">
  </mat-form-field>
</form>

<div class="dashboard-container">
  <h2>Manager Dashboard</h2>
  <button
    mat-raised-button
    color="primary"
    routerLink="/manager/create-project"
  >
    Create Project
  </button>



  <div class="projects-list">
    <mat-card
      *ngFor="let project of projects"
      (click)="viewProject(project.id)"
    >
      <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
        <mat-card-subtitle>{{ project.endDate | date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ project.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="projects.length === 0">
    <p>No projects found.</p>
  </div>
</div>
